<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Extracto consolidado</title>
    <style type="text/css">          body {
        background-color: #FFF;
        margin: 0;
        font-family: Arial;
        color: #000;
        font-size: 9pt;
        width: 210mm;
    }

    .content {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .page {
        width: 210mm;
        height: 280mm;
        Display: inline-block;
        margin: 0px;
    }

    .caja5 {
        width: 5%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja7 {
        width: 7%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja10 {
        width: 10%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja15 {
        width: 15%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja20 {
        width: 20%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja25 {
        width: 25%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja30 {
        width: 30%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja50 {
        width: 50%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja40 {
        width: 40%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja45 {
        width: 45%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja60 {
        width: 60%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja80 {
        width: 80%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .caja100 {
        width: 100%;
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .separador {
        margin-right: -15px;
        margin-left: -15px;
        clear: both;
        width: 100%;
        float: left;
        min-height: 1px;
        text-align: center;
        display: block;
        margin-top: 5px;
    }

    .bordeCaja {
        border: 1px solid #047734;
    }

    .redondearTop {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .redondearBottom {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .row:before, .row:after {
        display: table;
        content: " ";
    }

    .row:after {
        clear: both;
    }

    .footer {
        position: absolute;
        height: 15mm;
        text-align: center;
        width: 168mm;
        margin-left: 21mm;
        margin-right: 21mm;
        border-top: 1px solid black;
    }

    .detail {
        width: 97%;
        text-align: left;
        font-size: 80%;
        margin: 6px 4px;
        padding: 8px;
        border: 1px solid;
        border-radius: 5px;
    }

    .Grid {
        border: 1px solid black;
        font-size: 80%;       </style>
</head>
<body>
<div class="page">
    <div id="header" style="width:100%">
        <div style="width: 60%; height: 90px; background-color: #063c1d; float: left; "><img id="image"
                                                                                             style="width:35%; margin-left:7px"
                                                                                             src="data:image/png;base64,<<3>>"/>
        </div>
        <div style="width: 40%; height: 90px; background-color: #063c1d; float: left; ">
            <p style="margin: 33px; font-size:20px; color: white; font-weight:bold"> {{tipo_producto}} </p>
        </div>
    </div>
    <div class="content">
        <div class="separador"></div>
        <div class="row">
            <div class="caja100 bordeCaja redondearBottom redondearTop">
                <div class="caja50" style="font-size:90%">
                    <p><span><strong>{{titular_cuenta}}</strong></span></p>
                    <p><span><strong>{{direccion_fisica}}</strong></span></p>
                    <p><span><strong>{{ciudad}}</strong></span></p>
                </div>
                <div class="caja50">
                    <p><span><strong>N&Uacute;MERO DE CR&Eacute;DITO:</strong></span></p>
                    <h4>{{numero_cuenta}}</h4>
                    <p><span><strong>Pag:</strong></span><span>1</span><span><strong> de:</strong></span><span>{{numero_paginas}}</span>
                    </p>
                    <p><span><strong>Fecha Generaci&oacute;n:</strong></span><span>{{fecha_generacion}}</span></p>
                </div>
            </div>
        </div>
        <div class="separador"></div>
        <div class="row">
            <div class="caja100 bordeCaja redondearBottom redondearTop" style="font-size:85%">
                <div class="caja50">
                    <p><span><strong>FECHA FACTURACI&Oacute;N:</strong></span><span> {{fecha_facturacion}}</span></p>
                </div>
                <div class="caja50">
                    <p><span><strong>FECHA PAGO:</strong></span><span> {{fecha_limite}}</span></p>
                </div>
            </div>
        </div>
        <div class="separador"></div>
        <div class="row" style="font-size:70%">
            <div class="caja100 bordeCaja redondearTop"
                 style="overflow:hidden; font-size:85%; background-color: #cce4cc;">
                <div class="caja10" style="background-color: #cce4cc">
                    <p><span><strong>FECHA</strong></span></p>
                </div>
                <div class="caja10" style="background-color: #cce4cc">
                    <p><span><strong>NUM. COMPROBANTE</strong></span></p>
                </div>
                <div class="caja25" style="background-color: #cce4cc">
                    <p><span><strong>DESCRIPCI&Oacute;N</strong></span></p>
                </div>
                <div class="caja10" style="background-color: #cce4cc">
                    <p><span><strong>VALOR TRANSACCI&Oacute;N</strong></span></p>
                </div>
                <div class="caja5" style="background-color: #cce4cc">
                    <p><span><strong>PLAZO PAGO</strong></span></p>
                </div>
                <div class="caja10" style="background-color: #cce4cc">
                    <p><span><strong>TASA PACTADA</strong></span></p>
                </div>
                <div class="caja10" style="background-color: #cce4cc">
                    <p><span><strong>ABONOS Y PAGOS</strong></span></p>
                </div>
                <div class="caja10" style="background-color: #cce4cc">
                    <p><span><strong>SALDO</strong></span></p>
                </div>
                <div class="caja5" style="background-color: #cce4cc">
                    <p><span><strong>CUOTA FACT.</strong></span></p>
                </div>
                <div class="caja5" style="background-color: #cce4cc">
                    <p><span><strong>CUOTA PEND.</strong></span></p>
                </div>
            </div>
        </div>
        <div class="row" style="font-size:70%">
            <div class="caja100 bordeCaja redondearBottom">
                <table style="width:100%; text-align:center; font-size:85%">
                    <tbody> {{Detalles}}</tbody>
                </table>
            </div>
        </div>
        <div class="separador"></div>
        <div class="row" style="font-size:80%">
            <div class="caja100 bordeCaja redondearTop"
                 style="overflow:hidden; font-size:85%; background-color: #cce4cc;">
                <div class="caja40" style="background-color: #cce4cc">
                    <p><span><strong>LINEA DE CR&Eacute;DITO APROBADA</strong></span></p>
                </div>
                <div class="caja30" style="background-color: #cce4cc">
                    <p><span><strong>VALOR DESEMBOLSADO</strong></span></p>
                </div>
                <div class="caja30" style="background-color: #cce4cc">
                    <p><span><strong>DESEMBOLSO DURANTE EL MES</strong></span></p>
                </div>
            </div>
        </div>
        <div class="row" style="font-size:90%">
            <div class="caja100 bordeCaja redondearBottom">
                <table style="width:100%; text-align:center; font-size:85%">
                    <tbody>
                    <tr>
                        <td width="40%">{{linea_credito}}</td>
                        <td width="30%">{{valor_desembolsado}}</td>
                        <td width="30%">{{desembolso_mes}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="separador"></div>
        <div class="row" style="font-size:80%">
            <div class="caja100 bordeCaja redondearTop" style="overflow:hidden">
                <div class="caja50" style="background-color: #cce4cc">
                    <h3>DETALLE DE CUOTA PAGADA</h3>
                </div>
                <div class="caja50" style="background-color: #cce4cc">
                    <h3>DETALLE DE PR&Oacute;XIMA CUOTA</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="caja100 bordeCaja redondearBottom">
                <div class="caja50" style="font-size:90%">
                    <table class="detail">
                        <thead>
                        <tr>
                            <td width="50%"><strong>Descripci&oacute;n</strong></td>
                            <td width="25%"></td>
                            <td width="25%"><strong>Valor</strong></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td width="50%">Abono a Capial</td>
                            <td width="25%"></td>
                            <td width="25%">{{abono_capital}}</td>
                        </tr>
                        <tr>
                            <td width="50%">Intereses Corrientes</td>
                            <td width="25%"></td>
                            <td width="25%">{{interes_corriente}}</td>
                        </tr>
                        <tr>
                            <td width="50%">Intereses de Mora</td>
                            <td width="25%"></td>
                            <td width="25%">{{interes_mora}}</td>
                        </tr>
                        <tr>
                            <td width="50%">Prima de Seguros</td>
                            <td width="25%"></td>
                            <td width="25%">{{prima_seguros}}</td>
                        </tr>
                        <tr>
                            <td width="50%">Prima de Seguro Desempleo</td>
                            <td width="25%"></td>
                            <td width="25%">{{prima_desempleo}}</td>
                        </tr>
                        <tr>
                            <td width="50%">Gastos de Cobranza</td>
                            <td width="25%"></td>
                            <td width="25%">{{gastos_cobranza}}</td>
                        </tr>
                        <tr>
                            <td width="50%">Otros</td>
                            <td width="25%"></td>
                            <td width="25%">{{otros}}</td>
                        </tr>
                        <tr>
                            <td colspan="3" height="10"></td>
                        </tr>
                        <tr>
                            <td width="50%" colspan="2"><strong>Total Pagado</strong></td>
                            <td width="25%"><strong>{{total_pagado}}</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="caja50" style="font-size:90%;">
                    <table class="detail">
                        <thead>
                        <tr>
                            <td width="50%"><strong>Descripci&oacute;n</strong></td>
                            <td width="25%"></td>
                            <td width="25%"><strong>Valor</strong></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td width="50%">Saldo en Mora</td>
                            <td width="25%"></td>
                            <td width="25%">{{saldo_mora}}</td>
                        </tr>
                        <tr>
                            <td width="50%">Abono a Capital</td>
                            <td width="25%"></td>
                            <td width="25%">{{abono_capital_prox}}</td>
                        </tr>
                        <tr>
                            <td width="50%">Intereses Corrientes</td>
                            <td width="25%"></td>
                            <td width="25%">{{interes_corriente_prox}}</td>
                        </tr>
                        <tr>
                            <td width="50%">Intereses de Mora</td>
                            <td width="25%"></td>
                            <td width="25%">{{interes_mora_prox}}</td>
                        </tr>
                        <tr>
                            <td width="50%">Prima de Seguros</td>
                            <td width="25%"></td>
                            <td width="25%">{{prima_seguros_prox}}</td>
                        </tr>
                        <tr>
                            <td width="50%">Prima de Seguro Desempleo</td>
                            <td width="25%"></td>
                            <td width="25%">{{prima_desempleo_prox}}</td>
                        </tr>
                        <tr>
                            <td width="50%">Otros</td>
                            <td width="25%"></td>
                            <td width="25%">{{otros_prox}}</td>
                        </tr>
                        <tr>
                            <td colspan="3" height="10"></td>
                        </tr>
                        <tr>
                            <td width="50%" colspan="2"><strong>Total a Pagar</strong></td>
                            <td width="25%"><strong>{{total_pagar}}</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="separador"></div>
        <div class="row">
            <div class="caja100 bordeCaja redondearBottom redondearTop" style="font-size:85%">
                <div class="caja50">
                    <p><span>SALDO TOTAL A LA FECHA:</span><span> <strong>{{saldo_total_fecha}}</strong></span></p>
                </div>
                <div class="caja50"></div>
            </div>
        </div>
        <div class="separador"></div>
        <div class="row">
            <div class="caja100 bordeCaja redondearBottom redondearTop" style="font-size:85%">
                <div class="caja50">
                    <p>
                        <span>TASA DE INTERES CORRIENTE (%E.A):</span><span> <strong>{{interes_corriente_EA}}</strong></span>
                    </p>
                </div>
                <div class="caja50">
                    <p><span>TASA DE INTERES MORA (%E.A):</span><span><strong> {{tasa_mora_EA}}</strong></span></p>
                </div>
            </div>
        </div>
        <div class="separador"></div>
        <div class="separador"></div>
        <div class="separador"></div>
        <div class="row" align="center"><img style="width:100%;" id="base64image" src="data:image/png;base64,<<55>>"/>
        </div>
        <div class="caja100">
            <div class="caja50">
                <div class="separador"></div>
                <img id="base64image" style="width:100%;" src="data:image/png;base64,<<5>>"/>
            </div>
            <div class="caja50">
                <table class="detail" style="border-collapse: collapse;width:80%" align="right">
                    <tr>
                        <td class="Grid" width="15%" style="background-color: #cce4cc">FECHA</td>
                        <td class="Grid" width="10%" style="background-color: #cce4cc">Año</td>
                        <td class="Grid" width="15%"></td>
                        <td class="Grid" width="10%" style="background-color: #cce4cc">Mes</td>
                        <td class="Grid" width="15%"></td>
                        <td class="Grid" width="10%" style="background-color: #cce4cc">Día</td>
                        <td class="Grid" width="15%"></td>
                    </tr>
                </table>
                <table class="detail" style="border-collapse: collapse;width:100%">
                    <tr style="background-color: #cce4cc">
                        <td width="10%" class="Grid"></td>
                        <td width="40%" class="Grid"></td>
                        <td width="20%" class="Grid" align="center">Forma de pago</td>
                        <td width="30%" class="Grid" align="center">VALOR</td>
                    </tr>
                    <tr>
                        <td class="Grid" align="center" style="font-size:60%">Cód Banco</td>
                        <td class="Grid" align="center">No de cuenta</td>
                        <td class="Grid">Efectivo [_]</td>
                        <td class="Grid">$</td>
                    </tr>
                    <tr>
                        <td class="Grid"></td>
                        <td class="Grid"></td>
                        <td class="Grid">Cheque [_]</td>
                        <td class="Grid">$</td>
                    </tr>
                    <tr>
                        <td class="Grid" colspan="3" align="right">TOTAL PAGADO</td>
                        <td class="Grid">$</td>
                    </tr>
                </table>
            </div>
            <div class="separador"></div>
        </div>
        <div style="display:none"> {{dias_mora}}</div>
    </div>
    <div class="footer" style="top: {{footerposition}}mm;"></div>
</div>
</body>
</html>